
@{
    ViewBag.Title = "ErrorPage";
}

<h2>ErrorPage</h2>


<div>
    <h4>Sorry the reference is dublicated</h4>
    <div>

       @Html.ActionLink("Back to index", "Index", "Employees") 
      or 
      @Html.ActionLink("Create", "Create", "Employees") to try adding another reference number 
    </div>
</div>

